// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path:'../webfonts';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//adminlte
@import '~admin-lte/dist/css/adminlte.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';


.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.router-link-exact-active{
    background-color: #ff0505;
    color: #fff !important;
}

.admin{
    color:rgb(252, 0, 0);
    font-weight:bold;
    padding-left:10px;
}

.user{
    color:rgb(7, 255, 7);
    font-weight:bold;
    padding-left:10px;
}

// Custome For OrderPage
.text-center {
    text-align: center;
  }
  
.container {
    max-width: 1200px;
    margin: auto;
}
.button {
    border: 1px solid $text-color;
    padding: 12px 40px;
  
    &:hover {
      color: $white;
      background: $text-color;
    }
}
  
.button-white {
    border: 1px solid $white;
    color: $white !important;

    &:hover {
        color: $text-color !important;
        background: $white;
    }
}
.section-description {
    width: 80%;
    margin: auto;
}

.button-container {
    margin: 80px 0;
}
.featured-section {
    padding: 50px 0;
  
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: $gutter;
    }
}
// End Custome For Order Page  